@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fdf5e5;
}

.bg-primary{
    background: #033b20 !important;
}

.text-primary{
    color: #033b20 !important;
}

.navbarMain{
    background-color: #033b20;
}

.nav-link {
    color: #fdf5e5;
    margin: 0 15px;
}

.navbar-brand {
    color: #fdf5e5;
}

/* HOME */
.banner {
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    text-align: center;
}

.banner h1 {
    font-size: 45px;
    color: #fdf5e5;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.mx-5, .my-5{
    margin-top: 5rem !important;
    margin-left: 3rem !important;
    margin-bottom: 3rem !important;
    margin-right: 3rem !important;
}

.dish{
    text-align: center;
    font-size: 45px;
    color: #033b20;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 4rem auto 1rem;
    font-family: "Montserrat", sans-serif;
}

.row{
    justify-content: center;
}

.col1{
    justify-content: center;
    margin-top: 4rem;
}

.col2{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.fa-solid{
    font-size: 4.5rem;
}

.list-group-horizontal{
    justify-content: center;
}

.list-group-item{
    background-color: #fdf5e5;
    border: #fdf5e5;
}

.services{
    text-align: center;
}

.card{
    font-family: "Montserrat", sans-serif;
    color: #033b20;
    margin: 50px;
    background-color: #fdf5e5;
    border: #fdf5e5;
    text-align: center;
}

.aboutTxt{
    text-align: justify;
}

/* Product */
#heroProduct{
    background-color: #9d121b;
    color: white;
}

.buttonCart{
    background-color: #033b20;
    color: white;
}

.buttonCart:hover{
    background-color: #9d121b;
    color: white;
    transition: ease-in;
    transition-duration: 0.3s;
    text-decoration: underline;
}

/* Contact Us */
#heroContact{
    background-image: url('../images/talenan.jpg');
    background-size: cover;
    background-color: #033b2087;
    color: white;
    margin-top: 5rem;
}

.sidebox{
    background-color: #9d121b;
}

.px-5 {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
  }

/* Footer */
#footer {
    
    background-color: #033b20;
}