{% extends 'homepage/layout.html' %}
{% block title %}
  Products
{% endblock %}
{% block content %}
{% load static %}
<div class="hero p-3 rounded-lg m-3 my-5" id="heroProduct">
    <h1 class="display-6">Our Menu </h1>
    <form method="GET" action="#" class="d-flex mb-3">
      <input class="form-control me-2" type="search" name="q" placeholder="Find menu..." value="{{ query|default:'' }}" aria-label="Search">
      <button class="btn btn-outline-light" type="submit" style="color: white;">Find</button>
    </form>
</div>
<div class="container ps-4">
    <div class="row row-cols-4 gy-3">
      {% for products in product %}
        <div class="col-sm-auto">
            <div class="card card-sm-auto" style="width: 18rem;">
                <img src="{{ products.picture.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ products.name }}</h5>
                  <p class="card-text">{{ products.description }}</p>
                  <p class="card-text">Rp. {{ products.price }}</p>
                  <p class="card-text">ID :  {{ products.id }}</p>
                  <button type="button" value="{{ products.id }}" class="btn buttonCart" id="add-cart">Add to Cart</button>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $(this).val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },

      success: function(json){
        document.getElementById("cart_quantity").textContent=json.qty
      },

      error: function(xhr, errmsg, err){

      },

    });
  })
</script>
{% endblock %}