{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
  Dashboard Cashier
{% endblock %}
{% block content %}
  <section class="d-flex justify-content-end align-items-end" style="margin-top: 70px;">
    <div class="container pb-3 ml-5">
      <div class="d-flex flex-column gap-2 align-items-end w-100 container">
        <div class="card w-75 ml-5">
          <div class="card-header text-white d-flex justify-content-center" style="background-color: #033b20;">
            <h5 class="mb-0">Order List</h5>
          </div>
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody id="orderTable">
              {% if cart_products %}
              {% for product in cart_products %}
              <tr class="cart-item" data-id="{{ product.id }}">
                  <td>{{ product.name }}</td>
                  <td>
                      <select class="form-select form-select sm quantity-select" aria-label="Default select example">
                          <option value="1" {% if product.quantity == 1 %}selected{% endif %}>1</option>
                          <option value="2" {% if product.quantity == 2 %}selected{% endif %}>2</option>
                          <option value="3" {% if product.quantity == 3 %}selected{% endif %}>3</option>
                          <option value="4" {% if product.quantity == 4 %}selected{% endif %}>4</option>
                          <option value="5" {% if product.quantity == 5 %}selected{% endif %}>5</option>
                          <option value="6" {% if product.quantity == 6 %}selected{% endif %}>6</option>
                          <option value="7" {% if product.quantity == 7 %}selected{% endif %}>7</option>
                          <option value="8" {% if product.quantity == 8 %}selected{% endif %}>8</option>
                          <option value="9" {% if product.quantity == 9 %}selected{% endif %}>9</option>
                          <option value="10" {% if product.quantity == 10 %}selected{% endif %}>10</option>
                      </select>
                  </td>
                  <td>{{ product.price }}</td>
                  <td class="item-total">{{ product.price|floatformat:0 }}</td>
                  <td>
                    <button class="btn btn-success btn-sm bg-transparent text-success">Confirm</button>
                  </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                  <td colspan="6">No orders received yet</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}