{% extends 'homepage/layout.html' %}
{% block title %}
  Tentang
{% endblock %}
{% block content %}
  <div class="hero bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Apa itu AIS?</h1>
  </div>
  <div class="container">
    <div class="row row-cols-2">
      <div class="col"><h2><i class="fa-solid fa-utensils fa-2xl" style="color: #033b20;" ></i> Food</h2> <p style="margin-left: 2rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, soluta?</p></div>
      <div class="col">Column</div>
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div>
{% endblock %}