{% extends 'homepage/layout.html' %}
{% block title %}
  Tentang
{% endblock %}
{% block content %}
  <div class="hero p-5 rounded-lg mx-5 my-5">
    <h1 class="display-4">Philosophy</h1>
    <p class="aboutTxt">Selamat datang di Kedai Bang Jun, tempat di mana cita rasa rumahan yang autentik 
      hadir dalam setiap hidangan kami. <i>Taste of Home Cooking</i>, kami berkomitmen untuk 
      menghadirkan kenikmatan dan kenyamanan layaknya masakan buatan sendiri, yang diolah 
      dari bahan-bahan segar dan rempah pilihan. Di Kedai Bang Jun, kami percaya bahwa makanan 
      bukan hanya soal rasa, tetapi juga tentang kenangan, kebersamaan, dan pengalaman yang 
      membekas. Setiap menu yang kami sajikan adalah hasil kreasi penuh cinta, terinspirasi dari 
      resep-resep tradisional yang diwariskan dari generasi ke generasi. Mulai dari hidangan 
      sederhana hingga menu spesial, semuanya diolah dengan perhatian penuh pada detail, rasa, dan 
      kualitas. Kami mengundang Anda untuk merasakan kehangatan dan keramahan di Kedai Bang Jun. 
      Jadikan momen makan bersama keluarga atau teman lebih berkesan dengan hidangan kami yang 
      memanjakan lidah dan hati. Mari menikmati <i>Taste of Home Cooking</i> di setiap suapan.</p>
  </div>
  <div class="container">
    <div class="row row-cols-2">
      <div class="col"><h2><i class="fa-solid fa-utensils fa-2xl" style="color: #033b20;" ></i> Food</h2> <p style="margin-left: 2rem;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, soluta?</p></div>
      <div class="col">Column</div>
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div>
{% endblock %}