<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/png" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <style>
    /* Bootstrap-like styling for checked checkbox */
    .form-check-input:checked {
        background-color: #033b20;
        border-color: #198754;
    }
    </style>
  <body class="text-light d-flex vh-100 justify-content-evenly align-items-center" style="background-color: #033b20;">
    <img src="{% static 'images/logoPrimary.png' %}" alt="logo" width="350px" class="top-50 d-md-block d-none" />
    <div class="p-4" style="max-width: 400px; width: 100%; background-color: #033b20;">
      <h2 class="text-center fw-bold text-light">Sign In</h2>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label text-light">Username</label>
          <div class="position-relative">
            <input type="text" class="form-control fs-small" id="username" name="username" required placeholder="Type your username here..." maxlength="150" />
            <div class="text-primary position-absolute translate-middle-y top-50 end-0 me-3" style="cursor: pointer;">
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-light">Password</label>
          <div class="position-relative">
            <input type="password" class="form-control password-input fs-small" id="password" name="password" required placeholder="Type your password here..." maxlength="150" />
            <password-visibility id="password-visibility" class="text-primary position-absolute translate-middle-y top-50 end-0 me-3" style="cursor: pointer;">
              <i id="password-icon" class="fa-solid fa-eye"></i>
            </password-visibility>
          </div>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="remember" />
          <label for="remember" class="form-check-label text-light">Remember me</label>
        </div>
        <div class="d-flex justify-content-between w-100">
          <a href="{% url 'product_index' %}" class="btn btn-secondary w-50 mx-1 fs-small fw-bold rounded-1 py-2">Back</a>
          <button type="submit" class="btn btn-light w-50 mx-1 fs-small fw-bold rounded-1 py-2">Sign In</button>
        </div>
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        icon: 'error',
                        title: 'Access Denied',
                        text: '{{ message }}',
                        confirmButtonText: 'Ok',
                        confirmButtonColor: '#DC3545',
                    });
                {% endfor %}
            {% endif %}

            function resetInput() {
                $('.form-group input').val('');
                $('.form-check input').prop('checked', false);
            }
            resetInput();
            
            $('#password-visibility').on('click', function() {
                if ($('#password').attr('type') === 'password') {
                    $('#password').attr('type', 'text');
                    $('#password-icon').removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    $('#password').attr('type', 'password');
                    $('#password-icon').removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
            
            function getCSRFToken() {
                return document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
            }

            $('#form-signin').on('submit', function(event) {
                event.preventDefault();
                $('#loading').removeClass('d-none');
                $('.overlay').removeClass('d-none');
    
                const username = $('#username').val();
                const password = $('#password').val();
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'sign-in' %}",
                    data: {
                        username: username,
                        password: password,
                        csrfmiddlewaretoken: getCSRFToken()
                    },
                    success: function(response) {
                        $('#loading').addClass('d-none');
                        $('.overlay').addClass('d-none');
                        if (response.is_superuser) {
                            window.location.href = "{% url 'dashboard' %}";
                        } else {
                            $('#error-message').text(response.error).addClass('d-block').removeClass('d-none');
                        }
                    },
                });
            });
        });
    </script>
  </body>
</html>
